<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Toy Website</title>
    </head>
    <body>
        <h1>CREATE: Add toys in here</h1>
        <form action="/quotes" method="POST">
            <input type="text" placeholder="name" name="name" />
                <input type="text" placeholder="price" name="quote" />
                <button type="submit">Submit</button>
        </form>
        <h2> READ: All toys in database </h2>
        <ul class="quotes">
            <% for(var i = 0; i < quotes.length; i++) {%>
                <li class="quote">
                    <span><%= quotes[i].name %></span>:
                    <span><%= quotes[i].quote %></span>
                </li>
            <% } %>
        </ul>
        <div>
            <h2>UPDATE: Update toys</h2>
            <p>
            Add a new toy
            </p>
            <button id="update-button">Replace toys</button>
        </div>

        <div>
            <h2>DELETE: Remove an added toy</h2>
            <p>
            Delete one toy.
            </p>
            <button id="delete-button">Delete a toy</button>
        </div>
        <script src="/main.js"></script>
    </body>
</html>